workflows/workflows.json
[{"updatedAt":"2026-04-08T17:17:18.000Z","createdAt":"2026-04-08T16:30:55.846Z","id":"LzeE8dj7ohIMQiMv","name":"GHL Conversation FAQ Generator","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"32c146b2-e80f-43c2-9fb3-a41294e89a0a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-64,-208]},{"parameters":{"jsCode":"const locationId = 'x7nLyDSHiewYRtwYlX0h';\nconst tags = ['platinum', 'software subscription'];\nconst ghlApiKey = $env.GHL_LOCATION_API_KEY;\nlet allContacts = [];\nfor (const tag of tags) {\n  let skip = 0;\n  const limit = 100;\n  let hasMore = true;\n  while (hasMore) {\n    const url = `https://services.leadconnectorhq.com/contacts/?locationId=${locationId}&limit=${limit}${skip ? '&skip=' + skip : ''}&tag=${encodeURIComponent(tag)}`;\n    const response = await fetch(url, { headers: { 'Authorization': `Bearer ${ghlApiKey}`, 'Version': '2021-07-28', 'Accept': 'application/json' } });\n    const data = await response.json();\n    const contacts = data.contacts || [];\n    for (const c of contacts) {\n      if (!allContacts.find(existing => existing.id === c.id)) {\n        allContacts.push({ id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] });\n      }\n    }\n    skip += limit;\n    hasMore = contacts.length === limit;\n  }\n}\nreturn allContacts.map(c => ({ json: c }));"},"id":"6fe13a0c-84cf-47e3-b3a2-ec9a8ae08ce9","name":"Fetch Tagged Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-208]},{"parameters":{"batchSize":5,"options":{}},"id":"86eef0d2-43af-4d13-93db-a3d1d690d61b","name":"Loop Over Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,-208]},{"parameters":{"jsCode":"const contact = $input.first().json;\nconst locationId = 'x7nLyDSHiewYRtwYlX0h';\nconst ghlApiKey = $env.GHL_LOCATION_API_KEY;\nconst convUrl = `https://services.leadconnectorhq.com/conversations/search?locationId=${locationId}&contactId=${contact.id}&limit=5`;\nconst convResponse = await fetch(convUrl, { method: 'GET', headers: { 'Authorization': `Bearer ${ghlApiKey}`, 'Version': '2021-07-28', 'Accept': 'application/json' } });\nconst convData = await convResponse.json();\nconst conversations = convData.conversations || [];\nlet allMessages = [];\nfor (const conv of conversations) {\n  const msgUrl = `https://services.leadconnectorhq.com/conversations/${conv.id}/messages?limit=100`;\n  const msgResponse = await fetch(msgUrl, { headers: { 'Authorization': `Bearer ${ghlApiKey}`, 'Version': '2021-07-28', 'Accept': 'application/json' } });\n  const msgData = await msgResponse.json();\n  const messages = msgData.messages || [];\n  const filtered = messages.filter(m => ['TYPE_SMS', 'TYPE_EMAIL'].includes(m.type) && m.body).map(m => ({ type: m.type === 'TYPE_SMS' ? 'SMS' : 'Email', direction: m.direction || 'outbound', body: m.body.substring(0, 2000), date: m.dateAdded }));\n  allMessages = allMessages.concat(filtered);\n}\nallMessages.sort((a, b) => new Date(a.date) - new Date(b.date));\nreturn [{ json: { contactId: contact.id, contactName: `${contact.firstName} ${contact.lastName}`.trim(), contactEmail: contact.email, contactTags: contact.tags, messageCount: allMessages.length, messages: allMessages } }];"},"id":"1bd82a92-3e61-4b26-a9ee-463311c9ebfe","name":"Fetch Conversation Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-msg-count","leftValue":"={{ $json.messageCount }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"7922651d-f089-4263-9da2-f2d03017a9bf","name":"Has Messages?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[816,-208]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst messages = item.messages || [];\nlet transcript = `Contact: ${item.contactName} (${item.contactEmail})\\nTags: ${item.contactTags.join(', ')}\\n\\n--- CONVERSATION ---\\n\\n`;\nfor (const msg of messages) {\n  const speaker = msg.direction === 'inbound' ? `[CUSTOMER - ${item.contactName}]` : '[GM BAPTIST TEAM]';\n  const body = msg.body.length > 500 ? msg.body.substring(0, 500) + '...' : msg.body;\n  transcript += `${speaker} (${msg.type}, ${msg.date}):\\n${body}\\n\\n`;\n}\nif (transcript.length > 8000) { transcript = transcript.substring(0, 8000) + '\\n\\n[TRUNCATED]'; }\nreturn [{ json: { contactId: item.contactId, contactName: item.contactName, contactTags: item.contactTags, messageCount: item.messageCount, transcript: transcript } }];"},"id":"66279b1c-b705-49ed-9ed1-9a4633aaa979","name":"Format Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-192]},{"parameters":{"url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are analyzing customer support conversations for GM Baptist Outreach, a church SaaS platform. Extract QUESTIONS the customer asked and ANSWERS given by the team.\\n\\nRules:\\n- Only extract genuine questions from the CUSTOMER (inbound messages)\\n- Skip greetings, thank yous, confirmations\\n- For each question include the team answer if given\\n- If no real questions exist return {\\\"questions\\\": []}\\n\\nReturn ONLY valid JSON:\\n{\\\"questions\\\": [{\\\"question\\\": \\\"...\\\", \\\"answer\\\": \\\"...\\\", \\\"topic\\\": \\\"...\\\"}]}\\n\\nTranscript:\\n\\n{{ $json.transcript }}\"\n    }\n  ]\n}","options":{}},"id":"48279221-d41e-42dc-846b-4cad744c3977","name":"Claude: Extract Q&A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,-208]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst prevItem = $('Format Transcript').first().json;\nlet qaData = { questions: [] };\ntry {\n  const content = item.content[0].text;\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) { qaData = JSON.parse(jsonMatch[0]); }\n} catch (e) {}\nreturn [{ json: { contactName: prevItem.contactName, contactTags: prevItem.contactTags, questions: qaData.questions || [] } }];"},"id":"772491e2-76cf-4c2b-a30b-243acb73cf8a","name":"Parse Q&A Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,-208]},{"parameters":{"jsCode":"const allItems = $('Parse Q&A Response').all();\nlet allQuestions = [];\nfor (const item of allItems) {\n  const questions = item.json.questions || [];\n  for (const q of questions) {\n    allQuestions.push({ question: q.question, answer: q.answer, topic: q.topic, contactName: item.json.contactName, contactTags: item.json.contactTags });\n  }\n}\nreturn [{ json: { totalQuestions: allQuestions.length, questions: allQuestions } }];"},"id":"0f58febb-b176-4611-bc7b-90d8cf409777","name":"Aggregate All Q&As","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,112]},{"parameters":{"url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a business analyst for GM Baptist Outreach, a church SaaS platform.\\n\\nBelow are questions from real customer conversations. Your job:\\n1. GROUP similar questions (deduplicate)\\n2. CATEGORIZE into FAQ sections\\n3. RANK by frequency\\n4. Write CLEAR FAQ answers\\n5. Flag UNANSWERED questions as support gaps\\n\\nReturn JSON:\\n{\\\"faq_categories\\\": [{\\\"category\\\": \\\"...\\\", \\\"questions\\\": [{\\\"question\\\": \\\"...\\\", \\\"answer\\\": \\\"...\\\", \\\"frequency\\\": N, \\\"source_contacts\\\": []}]}], \\\"support_gaps\\\": [{\\\"question\\\": \\\"...\\\", \\\"recommendation\\\": \\\"...\\\"}], \\\"summary\\\": {\\\"total_unique_questions\\\": N, \\\"top_3_topics\\\": [], \\\"insight\\\": \\\"...\\\"}}\\n\\nQ&A pairs:\\n{{ JSON.stringify($json.questions).substring(0, 12000) }}\"\n    }\n  ]\n}","options":{}},"id":"3668ce77-71fa-4c7b-b7bc-90a0d2e486b9","name":"Claude: Categorize FAQ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,112]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aggregate = $('Aggregate All Q&As').first().json;\nlet faqData = {};\ntry {\n  const content = item.content[0].text;\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) { faqData = JSON.parse(jsonMatch[0]); }\n} catch (e) { faqData = { error: 'Failed to parse', raw: item.content?.[0]?.text || '' }; }\nreturn [{ json: { generatedAt: new Date().toISOString(), totalContactsAnalyzed: $('Fetch Tagged Contacts').all().length, totalQuestionsExtracted: aggregate.totalQuestions, ...faqData } }];"},"id":"561b8762-358a-4962-b16a-fef0d72ecd0f","name":"Format Final FAQ","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,112]}],"connections":{"Manual Trigger":{"main":[[{"node":"Fetch Tagged Contacts","type":"main","index":0}]]},"Fetch Tagged Contacts":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Loop Over Contacts":{"main":[[{"node":"Fetch Conversation Messages","type":"main","index":0}],[{"node":"Aggregate All Q&As","type":"main","index":0}]]},"Fetch Conversation Messages":{"main":[[{"node":"Has Messages?","type":"main","index":0}]]},"Has Messages?":{"main":[[{"node":"Format Transcript","type":"main","index":0}]]},"Format Transcript":{"main":[[{"node":"Claude: Extract Q&A","type":"main","index":0}]]},"Claude: Extract Q&A":{"main":[[{"node":"Parse Q&A Response","type":"main","index":0}]]},"Parse Q&A Response":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Aggregate All Q&As":{"main":[[{"node":"Claude: Categorize FAQ","type":"main","index":0}]]},"Claude: Categorize FAQ":{"main":[[{"node":"Format Final FAQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"3cfba218-51cf-4859-91e5-8552cab0627f","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-08T16:30:55.857Z","createdAt":"2026-04-08T16:30:55.857Z","role":"workflow:owner","workflowId":"LzeE8dj7ohIMQiMv","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-09T00:52:57.000Z","createdAt":"2026-04-08T17:21:15.366Z","id":"kaSD7PUQ6cIi2JPV","name":"GHL FAQ Generator v2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,112],"id":"76836945-14d5-4662-8d32-b10fe8a0dd83"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"platinum"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Platinum Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"0feaeaac-7410-41d1-a850-3ce61a858ca4"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"software subscription"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Software Sub Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208],"id":"a4f2aa03-6576-4daa-bed8-1608672380c0"},{"parameters":{},"name":"Merge Contacts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[256,112],"id":"83f31d74-033a-4ffa-bf4e-81bc5de9cb10"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst allContacts = [];\nconst seen = new Set();\nfor (const item of allItems) {\n  const contacts = item.json.contacts || [];\n  for (const c of contacts) {\n    if (!seen.has(c.id)) {\n      seen.add(c.id);\n      allContacts.push({ id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] });\n    }\n  }\n}\nreturn allContacts.slice(0, 5).map(c => ({ json: c }));\n"},"name":"Deduplicate Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,112],"id":"95fbc25f-2ffd-42c5-9f53-fb17af65c90e"},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"contactId","value":"={{ $json.id }}"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,112],"id":"796bba35-3239-4269-84c6-513f8e79806c"},{"parameters":{"jsCode":"const convItems = $input.all();\nconst contactItems = $('Deduplicate Contacts').all();\nconst results = [];\nfor (let i = 0; i < convItems.length; i++) {\n  const contact = contactItems[i].json;\n  const conversations = convItems[i].json.conversations || [];\n  if (conversations.length > 0) {\n    results.push({\n      json: {\n        contactId: contact.id,\n        contactName: (contact.firstName + ' ' + contact.lastName).trim(),\n        contactEmail: contact.email || '',\n        contactTags: contact.tags || [],\n        conversationId: conversations[0].id\n      }\n    });\n  }\n}\nreturn results;"},"name":"Process Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,112],"id":"520a83c5-46c5-4c1c-9317-d88b2d09651e"},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,112],"id":"2ccf803e-3db8-4271-ada2-2ace3a0ef59f"},{"parameters":{"jsCode":"const msgItems = $input.all();\nconst convItems = $('Process Conversations').all();\nconst results = [];\nfor (let i = 0; i < msgItems.length; i++) {\n  const contact = convItems[i].json;\n  const raw = msgItems[i].json;\n  if (!raw || !raw.messages) continue;\n  \n  const msgArray = raw.messages.messages || [];\n  \n  const messages = msgArray\n    .filter(m => m && ['TYPE_SMS', 'TYPE_EMAIL'].includes(m.messageType) && m.body)\n    .sort((a, b) => new Date(a.dateAdded) - new Date(b.dateAdded));\n  \n  if (messages.length === 0) continue;\n  \n  let transcript = 'Contact: ' + contact.contactName + ' (' + contact.contactEmail + ')\\nTags: ' + contact.contactTags.join(', ') + '\\n\\n--- CONVERSATION ---\\n\\n';\n  for (const msg of messages) {\n    const speaker = msg.direction === 'inbound' ? '[CUSTOMER - ' + contact.contactName + ']' : '[GM BAPTIST TEAM]';\n    const body = msg.body.length > 500 ? msg.body.substring(0, 500) + '...' : msg.body;\n    const msgType = msg.messageType === 'TYPE_SMS' ? 'SMS' : 'Email';\n    transcript += speaker + ' (' + msgType + ', ' + msg.dateAdded + '):\\n' + body + '\\n\\n';\n  }\n  if (transcript.length > 8000) transcript = transcript.substring(0, 8000) + '\\n\\n[TRUNCATED]';\n  results.push({ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: transcript } });\n}\nif (results.length === 0) {\n  results.push({ json: { contactName: 'none', contactTags: [], transcript: 'No conversations found' } });\n}\nreturn results;\n\n\n"},"name":"Format Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,112],"id":"d6f21d5d-b24a-4fc8-b392-027bf919538f"},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.map(item => {\n  const prompt = 'You are analyzing customer support conversations for GM Baptist Outreach, a church SaaS platform. Extract QUESTIONS the customer asked and ANSWERS given by the team.\\n\\nRules:\\n- Only extract genuine questions from the CUSTOMER (inbound messages)\\n- Skip greetings, thank yous, confirmations\\n- For each question include the team answer if given\\n- If no real questions return {\"questions\": []}\\n\\nReturn ONLY valid JSON:\\n{\"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"topic\": \"...\"}]}\\n\\nTranscript:\\n\\n' + item.json.transcript;\n  return {\n    json: {\n      contactName: item.json.contactName,\n      contactTags: item.json.contactTags,\n      requestBody: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 2000,\n        messages: [{ role: 'user', content: prompt }]\n      }\n    }\n  };\n});"},"name":"Prepare Q&A Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,112],"id":"b51aa071-f0e7-4795-97ac-03dee60edbba"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Extract Q&A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,112],"id":"6076a4d3-bba3-4196-a6f5-027e9101ab03"},{"parameters":{"jsCode":"const claudeItems = $input.all();\nconst transcriptItems = $('Format Transcript').all();\nconst results = [];\nfor (let i = 0; i < claudeItems.length; i++) {\n  const contact = transcriptItems[i].json;\n  let qaData = { questions: [] };\n  try {\n    const text = claudeItems[i].json.content[0].text;\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) qaData = JSON.parse(match[0]);\n  } catch (e) {}\n  results.push({ json: { contactName: contact.contactName, contactTags: contact.contactTags, questions: qaData.questions || [] } });\n}\nreturn results;"},"name":"Parse Q&A","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,112],"id":"b59fc304-ddc1-455d-8964-34bf1b34ac4f"},{"parameters":{"jsCode":"const items = $input.all();\nconst allQuestions = [];\nfor (const item of items) {\n  for (const q of (item.json.questions || [])) {\n    allQuestions.push({ question: q.question, answer: q.answer, topic: q.topic, contactName: item.json.contactName, contactTags: item.json.contactTags });\n  }\n}\nreturn [{ json: { totalQuestions: allQuestions.length, questions: allQuestions } }];"},"name":"Aggregate Q&As","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,112],"id":"b9345a3d-d0a2-47ce-9bed-32e4c48a637c"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst questionsStr = JSON.stringify(data.questions).substring(0, 12000);\nconst prompt = 'You are a business analyst for GM Baptist Outreach, a church SaaS platform that provides Facebook ad campaigns, automated texting, websites, and software tools for Baptist churches.\\n\\nBelow are questions from real customer conversations. Your job:\\n1. GROUP similar questions (deduplicate)\\n2. CATEGORIZE into FAQ sections\\n3. RANK by frequency (most common first)\\n4. Write CLEAR FAQ answers\\n5. Flag UNANSWERED questions as support gaps\\n\\nReturn JSON:\\n{\"faq_categories\": [{\"category\": \"...\", \"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"frequency\": 1, \"source_contacts\": []}]}], \"support_gaps\": [{\"question\": \"...\", \"recommendation\": \"...\"}], \"summary\": {\"total_unique_questions\": 0, \"top_3_topics\": [], \"insight\": \"...\"}}\\n\\nQ&A pairs:\\n' + questionsStr;\nreturn [{ json: { totalQuestions: data.totalQuestions, requestBody: { model: 'claude-sonnet-4-20250514', max_tokens: 4000, messages: [{ role: 'user', content: prompt }] } } }];"},"name":"Prepare Categorize Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,112],"id":"3e0884e5-8810-47aa-a359-5016a096adfd"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Categorize","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2672,112],"id":"e6429c46-3e45-4c25-af1c-6ee544f78ec9"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aggregate = $('Aggregate Q&As').first().json;\nlet faqData = {};\ntry {\n  const text = item.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) faqData = JSON.parse(match[0]);\n} catch (e) {\n  faqData = { error: 'Failed to parse', raw: item.content && item.content[0] ? item.content[0].text : '' };\n}\nreturn [{ json: { generatedAt: new Date().toISOString(), totalContactsAnalyzed: $('Deduplicate Contacts').all().length, totalQuestionsExtracted: aggregate.totalQuestions, ...faqData } }];"},"name":"Format Final FAQ","type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,112],"id":"8539fa6b-7278-4781-979d-c9d6b2182424","executeOnce":false,"alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Platinum Contacts","type":"main","index":0},{"node":"Get Software Sub Contacts","type":"main","index":0}]]},"Get Platinum Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":0}]]},"Get Software Sub Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":1}]]},"Merge Contacts":{"main":[[{"node":"Deduplicate Contacts","type":"main","index":0}]]},"Deduplicate Contacts":{"main":[[{"node":"Get Conversations","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Process Conversations","type":"main","index":0}]]},"Process Conversations":{"main":[[{"node":"Get Messages","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Format Transcript","type":"main","index":0}]]},"Format Transcript":{"main":[[{"node":"Prepare Q&A Request","type":"main","index":0}]]},"Prepare Q&A Request":{"main":[[{"node":"Claude Extract Q&A","type":"main","index":0}]]},"Claude Extract Q&A":{"main":[[{"node":"Parse Q&A","type":"main","index":0}]]},"Parse Q&A":{"main":[[{"node":"Aggregate Q&As","type":"main","index":0}]]},"Aggregate Q&As":{"main":[[{"node":"Prepare Categorize Request","type":"main","index":0}]]},"Prepare Categorize Request":{"main":[[{"node":"Claude Categorize","type":"main","index":0}]]},"Claude Categorize":{"main":[[{"node":"Format Final FAQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"b13d4325-bb44-4a8f-b319-fa1544f3b8ee","activeVersionId":null,"versionCounter":14,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-08T17:21:15.378Z","createdAt":"2026-04-08T17:21:15.378Z","role":"workflow:owner","workflowId":"kaSD7PUQ6cIi2JPV","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-08T19:26:07.861Z","createdAt":"2026-04-08T18:18:09.813Z","id":"JMR4sGRDKMv7PSQL","name":"GHL FAQ Generator v4","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2880,432],"id":"a86e584b-28d8-41f0-a4ca-d8e81f102c13"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"platinum"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Platinum Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2624,336],"id":"55141073-a942-4b67-9584-291831ed4ff2"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"software subscription"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Software Sub Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2624,528],"id":"84e1459f-a07b-4bf5-9a1b-b6f580f1968e"},{"parameters":{},"name":"Merge Contacts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2384,432],"id":"c3e49c4e-f586-4215-a4d0-577daae7d4ec"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst allContacts = [];\nconst seen = new Set();\nfor (const item of allItems) {\n  const contacts = item.json.contacts || [];\n  for (const c of contacts) {\n    if (!seen.has(c.id)) {\n      seen.add(c.id);\n      allContacts.push({ id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] });\n    }\n  }\n}\n// Initialize static data for Q&A storage\nconst staticData = $getWorkflowStaticData('global');\nstaticData.allQuestions = [];\nreturn allContacts.map(c => ({ json: c }));\n"},"name":"Deduplicate Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2160,432],"id":"cd8813a9-151f-449e-8fd6-1fe2062ab98b"},{"parameters":{"options":{"reset":false}},"name":"Loop Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1936,432],"id":"82d7944f-8e75-4b47-b10d-d66f15fd3610"},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"contactId","value":"={{ $json.id }}"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,432],"id":"e2a667cd-713f-4928-9f5b-2c993df6e547","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"// Get the current batch contact from the loop\nconst batchItem = $('Loop Contacts').first().json;\nconst convResponse = $input.first().json;\nconst conversations = convResponse.conversations || [];\nif (conversations.length > 0) {\n  return [{\n    json: {\n      contactId: batchItem.id || '',\n      contactName: ((batchItem.firstName || '') + ' ' + (batchItem.lastName || '')).trim() || 'Unknown',\n      contactEmail: batchItem.email || '',\n      contactTags: batchItem.tags || [],\n      conversationId: conversations[0].id,\n      hasConversation: true\n    }\n  }];\n} else {\n  return [{\n    json: {\n      contactId: batchItem.id || '',\n      contactName: ((batchItem.firstName || '') + ' ' + (batchItem.lastName || '')).trim() || 'Unknown',\n      contactEmail: batchItem.email || '',\n      contactTags: batchItem.tags || [],\n      conversationId: '',\n      hasConversation: false\n    }\n  }];\n}"},"name":"Process Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,432],"id":"38cf2789-a4c0-4140-8d81-f44b5fd9092b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-conv","leftValue":"={{ $json.hasConversation }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Has Conversation?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1280,432],"id":"89ee57b8-45a4-464a-8a84-e4b4967f6011"},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,336],"id":"fe889175-1375-4b07-8719-45343f616f2c","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const contact = $('Process Conversations').first().json;\nconst raw = $input.first().json;\nif (!raw || !raw.messages) {\n  return [{ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: '', hasTranscript: false } }];\n}\nconst msgArray = raw.messages.messages || [];\nconst messages = msgArray\n  .filter(m => m && ['TYPE_SMS', 'TYPE_EMAIL'].includes(m.messageType) && m.body)\n  .sort((a, b) => new Date(a.dateAdded) - new Date(b.dateAdded));\nif (messages.length === 0) {\n  return [{ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: '', hasTranscript: false } }];\n}\nlet transcript = 'Contact: ' + contact.contactName + ' (' + contact.contactEmail + ')\\nTags: ' + contact.contactTags.join(', ') + '\\n\\n--- CONVERSATION ---\\n\\n';\nfor (const msg of messages) {\n  const speaker = msg.direction === 'inbound' ? '[CUSTOMER - ' + contact.contactName + ']' : '[GM BAPTIST TEAM]';\n  const body = msg.body.length > 500 ? msg.body.substring(0, 500) + '...' : msg.body;\n  const msgType = msg.messageType === 'TYPE_SMS' ? 'SMS' : 'Email';\n  transcript += speaker + ' (' + msgType + ', ' + msg.dateAdded + '):\\n' + body + '\\n\\n';\n}\nif (transcript.length > 8000) transcript = transcript.substring(0, 8000) + '\\n\\n[TRUNCATED]';\nreturn [{ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: transcript, hasTranscript: true } }];"},"name":"Format Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,336],"id":"8bbee00d-fa21-4af2-aba9-275926803c5f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-transcript","leftValue":"={{ $json.hasTranscript }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Has Transcript?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-624,336],"id":"be7d8096-8dde-4ee2-8e5f-5c0f7ebef9e9"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst prompt = 'You are analyzing customer support conversations for GM Baptist Outreach, a church SaaS platform. Extract QUESTIONS the customer asked and ANSWERS given by the team.\\n\\nRules:\\n- Only extract genuine questions from the CUSTOMER (inbound messages)\\n- Skip greetings, thank yous, confirmations\\n- For each question include the team answer if given\\n- If no real questions return {\"questions\": []}\\n\\nReturn ONLY valid JSON:\\n{\"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"topic\": \"...\"}]}\\n\\nTranscript:\\n\\n' + item.transcript;\nreturn [{\n  json: {\n    contactName: item.contactName,\n    contactTags: item.contactTags,\n    requestBody: {\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 2000,\n      messages: [{ role: 'user', content: prompt }]\n    }\n  }\n}];"},"name":"Prepare Q&A Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,224],"id":"18f049b7-24c2-4c62-854f-75029b49e047"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Extract Q&A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,224],"id":"ec0781c4-06fd-434b-a967-26a7915719c8","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst prepData = $('Prepare Q&A Request').first().json;\nlet qaData = { questions: [] };\ntry {\n  const text = claudeResponse.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) qaData = JSON.parse(match[0]);\n} catch (e) {}\n\n// Store in workflow static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.allQuestions) staticData.allQuestions = [];\nfor (const q of (qaData.questions || [])) {\n  staticData.allQuestions.push({\n    question: q.question,\n    answer: q.answer,\n    topic: q.topic,\n    contactName: prepData.contactName,\n    contactTags: prepData.contactTags\n  });\n}\nreturn [{ json: { stored: true, questionsInBatch: (qaData.questions || []).length, totalSoFar: staticData.allQuestions.length } }];"},"name":"Parse and Store Q&A","type":"n8n-nodes-base.code","typeVersion":2,"position":[48,224],"id":"afaa2768-9635-4bf6-814e-2144bb887b42"},{"parameters":{"jsCode":"// No-op pass through — just loop back\nreturn [{ json: { skipped: true } }];"},"name":"Skip to Next","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,432],"id":"d0e3d2bb-b905-4203-a95e-df58278eca82"},{"parameters":{"jsCode":"// Collect all stored Q&As after loop completes\nconst staticData = $getWorkflowStaticData('global');\nconst allQuestions = staticData.allQuestions || [];\nstaticData.allQuestions = [];\nreturn [{ json: { totalQuestions: allQuestions.length, questions: allQuestions } }];"},"name":"Aggregate Q&As","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1936,688],"id":"29e68f82-e55d-417c-9f93-898289c40b39"},{"parameters":{"jsCode":"const data = $input.first().json;\nif (data.totalQuestions === 0) {\n  return [{ json: { totalQuestions: 0, requestBody: { model: 'claude-sonnet-4-20250514', max_tokens: 1000, messages: [{ role: 'user', content: 'No questions were found. Return: {\"faq_categories\": [], \"support_gaps\": [], \"summary\": {\"total_unique_questions\": 0, \"top_3_topics\": [], \"insight\": \"No customer questions were found in the analyzed conversations.\"}}' }] } } }];\n}\nconst questionsStr = JSON.stringify(data.questions).substring(0, 12000);\nconst prompt = 'You are a business analyst for GM Baptist Outreach, a church SaaS platform that provides Facebook ad campaigns, automated texting, websites, and software tools for Baptist churches.\\n\\nBelow are questions from real customer conversations. Your job:\\n1. GROUP similar questions (deduplicate)\\n2. CATEGORIZE into FAQ sections\\n3. RANK by frequency (most common first)\\n4. Write CLEAR FAQ answers\\n5. Flag UNANSWERED questions as support gaps\\n\\nReturn JSON:\\n{\"faq_categories\": [{\"category\": \"...\", \"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"frequency\": 1, \"source_contacts\": []}]}], \"support_gaps\": [{\"question\": \"...\", \"recommendation\": \"...\"}], \"summary\": {\"total_unique_questions\": 0, \"top_3_topics\": [], \"insight\": \"...\"}}\\n\\nQ&A pairs:\\n' + questionsStr;\nreturn [{ json: { totalQuestions: data.totalQuestions, requestBody: { model: 'claude-sonnet-4-20250514', max_tokens: 4000, messages: [{ role: 'user', content: prompt }] } } }];"},"name":"Prepare Categorize Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,688],"id":"2943cf86-fea5-412e-9c09-9f323c385e8f"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Categorize","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,688],"id":"7ba41d77-bf58-4df8-9996-d17ee7e93da3","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aggregate = $('Aggregate Q&As').first().json;\nlet faqData = {};\ntry {\n  const text = item.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) faqData = JSON.parse(match[0]);\n} catch (e) {\n  faqData = { error: 'Failed to parse', raw: item.content && item.content[0] ? item.content[0].text : '' };\n}\nreturn [{ json: { generatedAt: new Date().toISOString(), totalContactsAnalyzed: $('Deduplicate Contacts').all().length, totalQuestionsExtracted: aggregate.totalQuestions, ...faqData } }];"},"name":"Format Final FAQ","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,688],"id":"92e0ac34-369c-458f-bab4-d613e532605b"}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Platinum Contacts","type":"main","index":0},{"node":"Get Software Sub Contacts","type":"main","index":0}]]},"Get Platinum Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":0}]]},"Get Software Sub Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":1}]]},"Merge Contacts":{"main":[[{"node":"Deduplicate Contacts","type":"main","index":0}]]},"Deduplicate Contacts":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Loop Contacts":{"main":[[{"node":"Aggregate Q&As","type":"main","index":0}],[{"node":"Get Conversations","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Process Conversations","type":"main","index":0}]]},"Process Conversations":{"main":[[{"node":"Has Conversation?","type":"main","index":0}]]},"Has Conversation?":{"main":[[{"node":"Get Messages","type":"main","index":0}],[{"node":"Skip to Next","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Format Transcript","type":"main","index":0}]]},"Format Transcript":{"main":[[{"node":"Has Transcript?","type":"main","index":0}]]},"Has Transcript?":{"main":[[{"node":"Prepare Q&A Request","type":"main","index":0}],[{"node":"Skip to Next","type":"main","index":0}]]},"Prepare Q&A Request":{"main":[[{"node":"Claude Extract Q&A","type":"main","index":0}]]},"Claude Extract Q&A":{"main":[[{"node":"Parse and Store Q&A","type":"main","index":0}]]},"Parse and Store Q&A":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Skip to Next":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Aggregate Q&As":{"main":[[{"node":"Prepare Categorize Request","type":"main","index":0}]]},"Prepare Categorize Request":{"main":[[{"node":"Claude Categorize","type":"main","index":0}]]},"Claude Categorize":{"main":[[{"node":"Format Final FAQ","type":"main","index":0}]]},"Format Final FAQ":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a07106ad-4a83-4cdf-b184-3ca79ae93d5b","activeVersionId":null,"versionCounter":40,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-08T18:18:09.816Z","createdAt":"2026-04-08T18:18:09.816Z","role":"workflow:owner","workflowId":"JMR4sGRDKMv7PSQL","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-09T00:53:01.000Z","createdAt":"2026-04-09T00:27:50.632Z","id":"vnwUnNvrZ4IoUZMk","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"path":"9cf43f46-bfec-45ef-a91b-a4d4d8d12937","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"9c67917f-d415-4020-9979-08d045344a8f","name":"Webhook","webhookId":"9cf43f46-bfec-45ef-a91b-a4d4d8d12937"}],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"66d1a026-4533-40b0-a86a-576b306614f2","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-09T00:27:50.637Z","createdAt":"2026-04-09T00:27:50.637Z","role":"workflow:owner","workflowId":"vnwUnNvrZ4IoUZMk","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}}]