workflows/workflows.json
[{"updatedAt":"2026-04-08T17:17:18.000Z","createdAt":"2026-04-08T16:30:55.846Z","id":"LzeE8dj7ohIMQiMv","name":"GHL Conversation FAQ Generator","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"32c146b2-e80f-43c2-9fb3-a41294e89a0a","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-64,-208]},{"parameters":{"jsCode":"const locationId = 'x7nLyDSHiewYRtwYlX0h';\nconst tags = ['platinum', 'software subscription'];\nconst ghlApiKey = $env.GHL_LOCATION_API_KEY;\nlet allContacts = [];\nfor (const tag of tags) {\n  let skip = 0;\n  const limit = 100;\n  let hasMore = true;\n  while (hasMore) {\n    const url = `https://services.leadconnectorhq.com/contacts/?locationId=${locationId}&limit=${limit}${skip ? '&skip=' + skip : ''}&tag=${encodeURIComponent(tag)}`;\n    const response = await fetch(url, { headers: { 'Authorization': `Bearer ${ghlApiKey}`, 'Version': '2021-07-28', 'Accept': 'application/json' } });\n    const data = await response.json();\n    const contacts = data.contacts || [];\n    for (const c of contacts) {\n      if (!allContacts.find(existing => existing.id === c.id)) {\n        allContacts.push({ id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] });\n      }\n    }\n    skip += limit;\n    hasMore = contacts.length === limit;\n  }\n}\nreturn allContacts.map(c => ({ json: c }));"},"id":"6fe13a0c-84cf-47e3-b3a2-ec9a8ae08ce9","name":"Fetch Tagged Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[160,-208]},{"parameters":{"batchSize":5,"options":{}},"id":"86eef0d2-43af-4d13-93db-a3d1d690d61b","name":"Loop Over Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[384,-208]},{"parameters":{"jsCode":"const contact = $input.first().json;\nconst locationId = 'x7nLyDSHiewYRtwYlX0h';\nconst ghlApiKey = $env.GHL_LOCATION_API_KEY;\nconst convUrl = `https://services.leadconnectorhq.com/conversations/search?locationId=${locationId}&contactId=${contact.id}&limit=5`;\nconst convResponse = await fetch(convUrl, { method: 'GET', headers: { 'Authorization': `Bearer ${ghlApiKey}`, 'Version': '2021-07-28', 'Accept': 'application/json' } });\nconst convData = await convResponse.json();\nconst conversations = convData.conversations || [];\nlet allMessages = [];\nfor (const conv of conversations) {\n  const msgUrl = `https://services.leadconnectorhq.com/conversations/${conv.id}/messages?limit=100`;\n  const msgResponse = await fetch(msgUrl, { headers: { 'Authorization': `Bearer ${ghlApiKey}`, 'Version': '2021-07-28', 'Accept': 'application/json' } });\n  const msgData = await msgResponse.json();\n  const messages = msgData.messages || [];\n  const filtered = messages.filter(m => ['TYPE_SMS', 'TYPE_EMAIL'].includes(m.type) && m.body).map(m => ({ type: m.type === 'TYPE_SMS' ? 'SMS' : 'Email', direction: m.direction || 'outbound', body: m.body.substring(0, 2000), date: m.dateAdded }));\n  allMessages = allMessages.concat(filtered);\n}\nallMessages.sort((a, b) => new Date(a.date) - new Date(b.date));\nreturn [{ json: { contactId: contact.id, contactName: `${contact.firstName} ${contact.lastName}`.trim(), contactEmail: contact.email, contactTags: contact.tags, messageCount: allMessages.length, messages: allMessages } }];"},"id":"1bd82a92-3e61-4b26-a9ee-463311c9ebfe","name":"Fetch Conversation Messages","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,-208]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"filter-msg-count","leftValue":"={{ $json.messageCount }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"7922651d-f089-4263-9da2-f2d03017a9bf","name":"Has Messages?","type":"n8n-nodes-base.filter","typeVersion":2,"position":[816,-208]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst messages = item.messages || [];\nlet transcript = `Contact: ${item.contactName} (${item.contactEmail})\\nTags: ${item.contactTags.join(', ')}\\n\\n--- CONVERSATION ---\\n\\n`;\nfor (const msg of messages) {\n  const speaker = msg.direction === 'inbound' ? `[CUSTOMER - ${item.contactName}]` : '[GM BAPTIST TEAM]';\n  const body = msg.body.length > 500 ? msg.body.substring(0, 500) + '...' : msg.body;\n  transcript += `${speaker} (${msg.type}, ${msg.date}):\\n${body}\\n\\n`;\n}\nif (transcript.length > 8000) { transcript = transcript.substring(0, 8000) + '\\n\\n[TRUNCATED]'; }\nreturn [{ json: { contactId: item.contactId, contactName: item.contactName, contactTags: item.contactTags, messageCount: item.messageCount, transcript: transcript } }];"},"id":"66279b1c-b705-49ed-9ed1-9a4633aaa979","name":"Format Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,-192]},{"parameters":{"url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 2000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are analyzing customer support conversations for GM Baptist Outreach, a church SaaS platform. Extract QUESTIONS the customer asked and ANSWERS given by the team.\\n\\nRules:\\n- Only extract genuine questions from the CUSTOMER (inbound messages)\\n- Skip greetings, thank yous, confirmations\\n- For each question include the team answer if given\\n- If no real questions exist return {\\\"questions\\\": []}\\n\\nReturn ONLY valid JSON:\\n{\\\"questions\\\": [{\\\"question\\\": \\\"...\\\", \\\"answer\\\": \\\"...\\\", \\\"topic\\\": \\\"...\\\"}]}\\n\\nTranscript:\\n\\n{{ $json.transcript }}\"\n    }\n  ]\n}","options":{}},"id":"48279221-d41e-42dc-846b-4cad744c3977","name":"Claude: Extract Q&A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1264,-208]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst prevItem = $('Format Transcript').first().json;\nlet qaData = { questions: [] };\ntry {\n  const content = item.content[0].text;\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) { qaData = JSON.parse(jsonMatch[0]); }\n} catch (e) {}\nreturn [{ json: { contactName: prevItem.contactName, contactTags: prevItem.contactTags, questions: qaData.questions || [] } }];"},"id":"772491e2-76cf-4c2b-a30b-243acb73cf8a","name":"Parse Q&A Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,-208]},{"parameters":{"jsCode":"const allItems = $('Parse Q&A Response').all();\nlet allQuestions = [];\nfor (const item of allItems) {\n  const questions = item.json.questions || [];\n  for (const q of questions) {\n    allQuestions.push({ question: q.question, answer: q.answer, topic: q.topic, contactName: item.json.contactName, contactTags: item.json.contactTags });\n  }\n}\nreturn [{ json: { totalQuestions: allQuestions.length, questions: allQuestions } }];"},"id":"0f58febb-b176-4611-bc7b-90d8cf409777","name":"Aggregate All Q&As","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,112]},{"parameters":{"url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"You are a business analyst for GM Baptist Outreach, a church SaaS platform.\\n\\nBelow are questions from real customer conversations. Your job:\\n1. GROUP similar questions (deduplicate)\\n2. CATEGORIZE into FAQ sections\\n3. RANK by frequency\\n4. Write CLEAR FAQ answers\\n5. Flag UNANSWERED questions as support gaps\\n\\nReturn JSON:\\n{\\\"faq_categories\\\": [{\\\"category\\\": \\\"...\\\", \\\"questions\\\": [{\\\"question\\\": \\\"...\\\", \\\"answer\\\": \\\"...\\\", \\\"frequency\\\": N, \\\"source_contacts\\\": []}]}], \\\"support_gaps\\\": [{\\\"question\\\": \\\"...\\\", \\\"recommendation\\\": \\\"...\\\"}], \\\"summary\\\": {\\\"total_unique_questions\\\": N, \\\"top_3_topics\\\": [], \\\"insight\\\": \\\"...\\\"}}\\n\\nQ&A pairs:\\n{{ JSON.stringify($json.questions).substring(0, 12000) }}\"\n    }\n  ]\n}","options":{}},"id":"3668ce77-71fa-4c7b-b7bc-90a0d2e486b9","name":"Claude: Categorize FAQ","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1984,112]},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aggregate = $('Aggregate All Q&As').first().json;\nlet faqData = {};\ntry {\n  const content = item.content[0].text;\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) { faqData = JSON.parse(jsonMatch[0]); }\n} catch (e) { faqData = { error: 'Failed to parse', raw: item.content?.[0]?.text || '' }; }\nreturn [{ json: { generatedAt: new Date().toISOString(), totalContactsAnalyzed: $('Fetch Tagged Contacts').all().length, totalQuestionsExtracted: aggregate.totalQuestions, ...faqData } }];"},"id":"561b8762-358a-4962-b16a-fef0d72ecd0f","name":"Format Final FAQ","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,112]}],"connections":{"Manual Trigger":{"main":[[{"node":"Fetch Tagged Contacts","type":"main","index":0}]]},"Fetch Tagged Contacts":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Loop Over Contacts":{"main":[[{"node":"Fetch Conversation Messages","type":"main","index":0}],[{"node":"Aggregate All Q&As","type":"main","index":0}]]},"Fetch Conversation Messages":{"main":[[{"node":"Has Messages?","type":"main","index":0}]]},"Has Messages?":{"main":[[{"node":"Format Transcript","type":"main","index":0}]]},"Format Transcript":{"main":[[{"node":"Claude: Extract Q&A","type":"main","index":0}]]},"Claude: Extract Q&A":{"main":[[{"node":"Parse Q&A Response","type":"main","index":0}]]},"Parse Q&A Response":{"main":[[{"node":"Loop Over Contacts","type":"main","index":0}]]},"Aggregate All Q&As":{"main":[[{"node":"Claude: Categorize FAQ","type":"main","index":0}]]},"Claude: Categorize FAQ":{"main":[[{"node":"Format Final FAQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"3cfba218-51cf-4859-91e5-8552cab0627f","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-08T16:30:55.857Z","createdAt":"2026-04-08T16:30:55.857Z","role":"workflow:owner","workflowId":"LzeE8dj7ohIMQiMv","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-09T00:52:57.000Z","createdAt":"2026-04-08T17:21:15.366Z","id":"kaSD7PUQ6cIi2JPV","name":"GHL FAQ Generator v2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,112],"id":"76836945-14d5-4662-8d32-b10fe8a0dd83"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"platinum"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Platinum Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"0feaeaac-7410-41d1-a850-3ce61a858ca4"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"software subscription"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Software Sub Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,208],"id":"a4f2aa03-6576-4daa-bed8-1608672380c0"},{"parameters":{},"name":"Merge Contacts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[256,112],"id":"83f31d74-033a-4ffa-bf4e-81bc5de9cb10"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst allContacts = [];\nconst seen = new Set();\nfor (const item of allItems) {\n  const contacts = item.json.contacts || [];\n  for (const c of contacts) {\n    if (!seen.has(c.id)) {\n      seen.add(c.id);\n      allContacts.push({ id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] });\n    }\n  }\n}\nreturn allContacts.slice(0, 5).map(c => ({ json: c }));\n"},"name":"Deduplicate Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,112],"id":"95fbc25f-2ffd-42c5-9f53-fb17af65c90e"},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"contactId","value":"={{ $json.id }}"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,112],"id":"796bba35-3239-4269-84c6-513f8e79806c"},{"parameters":{"jsCode":"const convItems = $input.all();\nconst contactItems = $('Deduplicate Contacts').all();\nconst results = [];\nfor (let i = 0; i < convItems.length; i++) {\n  const contact = contactItems[i].json;\n  const conversations = convItems[i].json.conversations || [];\n  if (conversations.length > 0) {\n    results.push({\n      json: {\n        contactId: contact.id,\n        contactName: (contact.firstName + ' ' + contact.lastName).trim(),\n        contactEmail: contact.email || '',\n        contactTags: contact.tags || [],\n        conversationId: conversations[0].id\n      }\n    });\n  }\n}\nreturn results;"},"name":"Process Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,112],"id":"520a83c5-46c5-4c1c-9317-d88b2d09651e"},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,112],"id":"2ccf803e-3db8-4271-ada2-2ace3a0ef59f"},{"parameters":{"jsCode":"const msgItems = $input.all();\nconst convItems = $('Process Conversations').all();\nconst results = [];\nfor (let i = 0; i < msgItems.length; i++) {\n  const contact = convItems[i].json;\n  const raw = msgItems[i].json;\n  if (!raw || !raw.messages) continue;\n  \n  const msgArray = raw.messages.messages || [];\n  \n  const messages = msgArray\n    .filter(m => m && ['TYPE_SMS', 'TYPE_EMAIL'].includes(m.messageType) && m.body)\n    .sort((a, b) => new Date(a.dateAdded) - new Date(b.dateAdded));\n  \n  if (messages.length === 0) continue;\n  \n  let transcript = 'Contact: ' + contact.contactName + ' (' + contact.contactEmail + ')\\nTags: ' + contact.contactTags.join(', ') + '\\n\\n--- CONVERSATION ---\\n\\n';\n  for (const msg of messages) {\n    const speaker = msg.direction === 'inbound' ? '[CUSTOMER - ' + contact.contactName + ']' : '[GM BAPTIST TEAM]';\n    const body = msg.body.length > 500 ? msg.body.substring(0, 500) + '...' : msg.body;\n    const msgType = msg.messageType === 'TYPE_SMS' ? 'SMS' : 'Email';\n    transcript += speaker + ' (' + msgType + ', ' + msg.dateAdded + '):\\n' + body + '\\n\\n';\n  }\n  if (transcript.length > 8000) transcript = transcript.substring(0, 8000) + '\\n\\n[TRUNCATED]';\n  results.push({ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: transcript } });\n}\nif (results.length === 0) {\n  results.push({ json: { contactName: 'none', contactTags: [], transcript: 'No conversations found' } });\n}\nreturn results;\n\n\n"},"name":"Format Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,112],"id":"d6f21d5d-b24a-4fc8-b392-027bf919538f"},{"parameters":{"jsCode":"const items = $input.all();\nreturn items.map(item => {\n  const prompt = 'You are analyzing customer support conversations for GM Baptist Outreach, a church SaaS platform. Extract QUESTIONS the customer asked and ANSWERS given by the team.\\n\\nRules:\\n- Only extract genuine questions from the CUSTOMER (inbound messages)\\n- Skip greetings, thank yous, confirmations\\n- For each question include the team answer if given\\n- If no real questions return {\"questions\": []}\\n\\nReturn ONLY valid JSON:\\n{\"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"topic\": \"...\"}]}\\n\\nTranscript:\\n\\n' + item.json.transcript;\n  return {\n    json: {\n      contactName: item.json.contactName,\n      contactTags: item.json.contactTags,\n      requestBody: {\n        model: 'claude-sonnet-4-20250514',\n        max_tokens: 2000,\n        messages: [{ role: 'user', content: prompt }]\n      }\n    }\n  };\n});"},"name":"Prepare Q&A Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,112],"id":"b51aa071-f0e7-4795-97ac-03dee60edbba"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Extract Q&A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1792,112],"id":"6076a4d3-bba3-4196-a6f5-027e9101ab03"},{"parameters":{"jsCode":"const claudeItems = $input.all();\nconst transcriptItems = $('Format Transcript').all();\nconst results = [];\nfor (let i = 0; i < claudeItems.length; i++) {\n  const contact = transcriptItems[i].json;\n  let qaData = { questions: [] };\n  try {\n    const text = claudeItems[i].json.content[0].text;\n    const match = text.match(/\\{[\\s\\S]*\\}/);\n    if (match) qaData = JSON.parse(match[0]);\n  } catch (e) {}\n  results.push({ json: { contactName: contact.contactName, contactTags: contact.contactTags, questions: qaData.questions || [] } });\n}\nreturn results;"},"name":"Parse Q&A","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,112],"id":"b59fc304-ddc1-455d-8964-34bf1b34ac4f"},{"parameters":{"jsCode":"const items = $input.all();\nconst allQuestions = [];\nfor (const item of items) {\n  for (const q of (item.json.questions || [])) {\n    allQuestions.push({ question: q.question, answer: q.answer, topic: q.topic, contactName: item.json.contactName, contactTags: item.json.contactTags });\n  }\n}\nreturn [{ json: { totalQuestions: allQuestions.length, questions: allQuestions } }];"},"name":"Aggregate Q&As","type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,112],"id":"b9345a3d-d0a2-47ce-9bed-32e4c48a637c"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst questionsStr = JSON.stringify(data.questions).substring(0, 12000);\nconst prompt = 'You are a business analyst for GM Baptist Outreach, a church SaaS platform that provides Facebook ad campaigns, automated texting, websites, and software tools for Baptist churches.\\n\\nBelow are questions from real customer conversations. Your job:\\n1. GROUP similar questions (deduplicate)\\n2. CATEGORIZE into FAQ sections\\n3. RANK by frequency (most common first)\\n4. Write CLEAR FAQ answers\\n5. Flag UNANSWERED questions as support gaps\\n\\nReturn JSON:\\n{\"faq_categories\": [{\"category\": \"...\", \"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"frequency\": 1, \"source_contacts\": []}]}], \"support_gaps\": [{\"question\": \"...\", \"recommendation\": \"...\"}], \"summary\": {\"total_unique_questions\": 0, \"top_3_topics\": [], \"insight\": \"...\"}}\\n\\nQ&A pairs:\\n' + questionsStr;\nreturn [{ json: { totalQuestions: data.totalQuestions, requestBody: { model: 'claude-sonnet-4-20250514', max_tokens: 4000, messages: [{ role: 'user', content: prompt }] } } }];"},"name":"Prepare Categorize Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,112],"id":"3e0884e5-8810-47aa-a359-5016a096adfd"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Categorize","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2672,112],"id":"e6429c46-3e45-4c25-af1c-6ee544f78ec9"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aggregate = $('Aggregate Q&As').first().json;\nlet faqData = {};\ntry {\n  const text = item.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) faqData = JSON.parse(match[0]);\n} catch (e) {\n  faqData = { error: 'Failed to parse', raw: item.content && item.content[0] ? item.content[0].text : '' };\n}\nreturn [{ json: { generatedAt: new Date().toISOString(), totalContactsAnalyzed: $('Deduplicate Contacts').all().length, totalQuestionsExtracted: aggregate.totalQuestions, ...faqData } }];"},"name":"Format Final FAQ","type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,112],"id":"8539fa6b-7278-4781-979d-c9d6b2182424","executeOnce":false,"alwaysOutputData":false,"retryOnFail":false,"notesInFlow":false}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Platinum Contacts","type":"main","index":0},{"node":"Get Software Sub Contacts","type":"main","index":0}]]},"Get Platinum Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":0}]]},"Get Software Sub Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":1}]]},"Merge Contacts":{"main":[[{"node":"Deduplicate Contacts","type":"main","index":0}]]},"Deduplicate Contacts":{"main":[[{"node":"Get Conversations","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Process Conversations","type":"main","index":0}]]},"Process Conversations":{"main":[[{"node":"Get Messages","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Format Transcript","type":"main","index":0}]]},"Format Transcript":{"main":[[{"node":"Prepare Q&A Request","type":"main","index":0}]]},"Prepare Q&A Request":{"main":[[{"node":"Claude Extract Q&A","type":"main","index":0}]]},"Claude Extract Q&A":{"main":[[{"node":"Parse Q&A","type":"main","index":0}]]},"Parse Q&A":{"main":[[{"node":"Aggregate Q&As","type":"main","index":0}]]},"Aggregate Q&As":{"main":[[{"node":"Prepare Categorize Request","type":"main","index":0}]]},"Prepare Categorize Request":{"main":[[{"node":"Claude Categorize","type":"main","index":0}]]},"Claude Categorize":{"main":[[{"node":"Format Final FAQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"b13d4325-bb44-4a8f-b319-fa1544f3b8ee","activeVersionId":null,"versionCounter":14,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-08T17:21:15.378Z","createdAt":"2026-04-08T17:21:15.378Z","role":"workflow:owner","workflowId":"kaSD7PUQ6cIi2JPV","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-10T19:40:40.797Z","createdAt":"2026-04-08T18:18:09.813Z","id":"JMR4sGRDKMv7PSQL","name":"GHL FAQ Generator v4","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2880,432],"id":"a86e584b-28d8-41f0-a4ca-d8e81f102c13"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"platinum"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Platinum Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2624,336],"id":"55141073-a942-4b67-9584-291831ed4ff2"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"software subscription"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Software Sub Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2624,528],"id":"84e1459f-a07b-4bf5-9a1b-b6f580f1968e"},{"parameters":{},"name":"Merge Contacts","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2384,432],"id":"c3e49c4e-f586-4215-a4d0-577daae7d4ec"},{"parameters":{"jsCode":"const allItems = $input.all();\nconst allContacts = [];\nconst seen = new Set();\nfor (const item of allItems) {\n  const contacts = item.json.contacts || [];\n  for (const c of contacts) {\n    if (!seen.has(c.id)) {\n      seen.add(c.id);\n      allContacts.push({ id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] });\n    }\n  }\n}\n// Initialize static data for Q&A storage\nconst staticData = $getWorkflowStaticData('global');\nstaticData.allQuestions = [];\nreturn allContacts.map(c => ({ json: c }));\n"},"name":"Deduplicate Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2160,432],"id":"cd8813a9-151f-449e-8fd6-1fe2062ab98b"},{"parameters":{"options":{"reset":false}},"name":"Loop Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1936,432],"id":"82d7944f-8e75-4b47-b10d-d66f15fd3610"},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"contactId","value":"={{ $json.id }}"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,432],"id":"e2a667cd-713f-4928-9f5b-2c993df6e547","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"// Get the current batch contact from the loop\nconst batchItem = $('Loop Contacts').first().json;\nconst convResponse = $input.first().json;\nconst conversations = convResponse.conversations || [];\nif (conversations.length > 0) {\n  return [{\n    json: {\n      contactId: batchItem.id || '',\n      contactName: ((batchItem.firstName || '') + ' ' + (batchItem.lastName || '')).trim() || 'Unknown',\n      contactEmail: batchItem.email || '',\n      contactTags: batchItem.tags || [],\n      conversationId: conversations[0].id,\n      hasConversation: true\n    }\n  }];\n} else {\n  return [{\n    json: {\n      contactId: batchItem.id || '',\n      contactName: ((batchItem.firstName || '') + ' ' + (batchItem.lastName || '')).trim() || 'Unknown',\n      contactEmail: batchItem.email || '',\n      contactTags: batchItem.tags || [],\n      conversationId: '',\n      hasConversation: false\n    }\n  }];\n}"},"name":"Process Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1504,432],"id":"38cf2789-a4c0-4140-8d81-f44b5fd9092b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-conv","leftValue":"={{ $json.hasConversation }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Has Conversation?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-1280,432],"id":"89ee57b8-45a4-464a-8a84-e4b4967f6011"},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,336],"id":"fe889175-1375-4b07-8719-45343f616f2c","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const contact = $('Process Conversations').first().json;\nconst raw = $input.first().json;\nif (!raw || !raw.messages) {\n  return [{ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: '', hasTranscript: false } }];\n}\nconst msgArray = raw.messages.messages || [];\nconst messages = msgArray\n  .filter(m => m && ['TYPE_SMS', 'TYPE_EMAIL'].includes(m.messageType) && m.body)\n  .sort((a, b) => new Date(a.dateAdded) - new Date(b.dateAdded));\nif (messages.length === 0) {\n  return [{ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: '', hasTranscript: false } }];\n}\nlet transcript = 'Contact: ' + contact.contactName + ' (' + contact.contactEmail + ')\\nTags: ' + contact.contactTags.join(', ') + '\\n\\n--- CONVERSATION ---\\n\\n';\nfor (const msg of messages) {\n  const speaker = msg.direction === 'inbound' ? '[CUSTOMER - ' + contact.contactName + ']' : '[GM BAPTIST TEAM]';\n  const body = msg.body.length > 500 ? msg.body.substring(0, 500) + '...' : msg.body;\n  const msgType = msg.messageType === 'TYPE_SMS' ? 'SMS' : 'Email';\n  transcript += speaker + ' (' + msgType + ', ' + msg.dateAdded + '):\\n' + body + '\\n\\n';\n}\nif (transcript.length > 8000) transcript = transcript.substring(0, 8000) + '\\n\\n[TRUNCATED]';\nreturn [{ json: { contactName: contact.contactName, contactTags: contact.contactTags, transcript: transcript, hasTranscript: true } }];"},"name":"Format Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[-848,336],"id":"8bbee00d-fa21-4af2-aba9-275926803c5f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-transcript","leftValue":"={{ $json.hasTranscript }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Has Transcript?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-624,336],"id":"be7d8096-8dde-4ee2-8e5f-5c0f7ebef9e9"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst prompt = 'You are analyzing customer support conversations for GM Baptist Outreach, a church SaaS platform. Extract QUESTIONS the customer asked and ANSWERS given by the team.\\n\\nRules:\\n- Only extract genuine questions from the CUSTOMER (inbound messages)\\n- Skip greetings, thank yous, confirmations\\n- For each question include the team answer if given\\n- If no real questions return {\"questions\": []}\\n\\nReturn ONLY valid JSON:\\n{\"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"topic\": \"...\"}]}\\n\\nTranscript:\\n\\n' + item.transcript;\nreturn [{\n  json: {\n    contactName: item.contactName,\n    contactTags: item.contactTags,\n    requestBody: {\n      model: 'claude-sonnet-4-20250514',\n      max_tokens: 2000,\n      messages: [{ role: 'user', content: prompt }]\n    }\n  }\n}];"},"name":"Prepare Q&A Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-400,224],"id":"18f049b7-24c2-4c62-854f-75029b49e047"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Extract Q&A","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-176,224],"id":"ec0781c4-06fd-434b-a967-26a7915719c8","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst prepData = $('Prepare Q&A Request').first().json;\nlet qaData = { questions: [] };\ntry {\n  const text = claudeResponse.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) qaData = JSON.parse(match[0]);\n} catch (e) {}\n\n// Store in workflow static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.allQuestions) staticData.allQuestions = [];\nfor (const q of (qaData.questions || [])) {\n  staticData.allQuestions.push({\n    question: q.question,\n    answer: q.answer,\n    topic: q.topic,\n    contactName: prepData.contactName,\n    contactTags: prepData.contactTags\n  });\n}\nreturn [{ json: { stored: true, questionsInBatch: (qaData.questions || []).length, totalSoFar: staticData.allQuestions.length } }];"},"name":"Parse and Store Q&A","type":"n8n-nodes-base.code","typeVersion":2,"position":[48,224],"id":"afaa2768-9635-4bf6-814e-2144bb887b42"},{"parameters":{"jsCode":"// No-op pass through — just loop back\nreturn [{ json: { skipped: true } }];"},"name":"Skip to Next","type":"n8n-nodes-base.code","typeVersion":2,"position":[-256,432],"id":"d0e3d2bb-b905-4203-a95e-df58278eca82"},{"parameters":{"jsCode":"// Collect all stored Q&As after loop completes\nconst staticData = $getWorkflowStaticData('global');\nconst allQuestions = staticData.allQuestions || [];\nstaticData.allQuestions = [];\nreturn [{ json: { totalQuestions: allQuestions.length, questions: allQuestions } }];"},"name":"Aggregate Q&As","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1936,688],"id":"29e68f82-e55d-417c-9f93-898289c40b39"},{"parameters":{"jsCode":"const data = $input.first().json;\nif (data.totalQuestions === 0) {\n  return [{ json: { totalQuestions: 0, requestBody: { model: 'claude-sonnet-4-20250514', max_tokens: 1000, messages: [{ role: 'user', content: 'No questions were found. Return: {\"faq_categories\": [], \"support_gaps\": [], \"summary\": {\"total_unique_questions\": 0, \"top_3_topics\": [], \"insight\": \"No customer questions were found in the analyzed conversations.\"}}' }] } } }];\n}\nconst questionsStr = JSON.stringify(data.questions).substring(0, 12000);\nconst prompt = 'You are a business analyst for GM Baptist Outreach, a church SaaS platform that provides Facebook ad campaigns, automated texting, websites, and software tools for Baptist churches.\\n\\nBelow are questions from real customer conversations. Your job:\\n1. GROUP similar questions (deduplicate)\\n2. CATEGORIZE into FAQ sections\\n3. RANK by frequency (most common first)\\n4. Write CLEAR FAQ answers\\n5. Flag UNANSWERED questions as support gaps\\n\\nReturn JSON:\\n{\"faq_categories\": [{\"category\": \"...\", \"questions\": [{\"question\": \"...\", \"answer\": \"...\", \"frequency\": 1, \"source_contacts\": []}]}], \"support_gaps\": [{\"question\": \"...\", \"recommendation\": \"...\"}], \"summary\": {\"total_unique_questions\": 0, \"top_3_topics\": [], \"insight\": \"...\"}}\\n\\nQ&A pairs:\\n' + questionsStr;\nreturn [{ json: { totalQuestions: data.totalQuestions, requestBody: { model: 'claude-sonnet-4-20250514', max_tokens: 4000, messages: [{ role: 'user', content: prompt }] } } }];"},"name":"Prepare Categorize Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1728,688],"id":"2943cf86-fea5-412e-9c09-9f323c385e8f"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Categorize","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1504,688],"id":"7ba41d77-bf58-4df8-9996-d17ee7e93da3","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"jsCode":"const item = $input.first().json;\nconst aggregate = $('Aggregate Q&As').first().json;\nlet faqData = {};\ntry {\n  const text = item.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) faqData = JSON.parse(match[0]);\n} catch (e) {\n  faqData = { error: 'Failed to parse', raw: item.content && item.content[0] ? item.content[0].text : '' };\n}\nreturn [{ json: { generatedAt: new Date().toISOString(), totalContactsAnalyzed: $('Deduplicate Contacts').all().length, totalQuestionsExtracted: aggregate.totalQuestions, ...faqData } }];"},"name":"Format Final FAQ","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,688],"id":"92e0ac34-369c-458f-bab4-d613e532605b"}],"connections":{"Manual Trigger":{"main":[[{"node":"Get Platinum Contacts","type":"main","index":0},{"node":"Get Software Sub Contacts","type":"main","index":0}]]},"Get Platinum Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":0}]]},"Get Software Sub Contacts":{"main":[[{"node":"Merge Contacts","type":"main","index":1}]]},"Merge Contacts":{"main":[[{"node":"Deduplicate Contacts","type":"main","index":0}]]},"Deduplicate Contacts":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Loop Contacts":{"main":[[{"node":"Aggregate Q&As","type":"main","index":0}],[{"node":"Get Conversations","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Process Conversations","type":"main","index":0}]]},"Process Conversations":{"main":[[{"node":"Has Conversation?","type":"main","index":0}]]},"Has Conversation?":{"main":[[{"node":"Get Messages","type":"main","index":0}],[{"node":"Skip to Next","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Format Transcript","type":"main","index":0}]]},"Format Transcript":{"main":[[{"node":"Has Transcript?","type":"main","index":0}]]},"Has Transcript?":{"main":[[{"node":"Prepare Q&A Request","type":"main","index":0}],[{"node":"Skip to Next","type":"main","index":0}]]},"Prepare Q&A Request":{"main":[[{"node":"Claude Extract Q&A","type":"main","index":0}]]},"Claude Extract Q&A":{"main":[[{"node":"Parse and Store Q&A","type":"main","index":0}]]},"Parse and Store Q&A":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Skip to Next":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Aggregate Q&As":{"main":[[{"node":"Prepare Categorize Request","type":"main","index":0}]]},"Prepare Categorize Request":{"main":[[{"node":"Claude Categorize","type":"main","index":0}]]},"Claude Categorize":{"main":[[{"node":"Format Final FAQ","type":"main","index":0}]]},"Format Final FAQ":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a07106ad-4a83-4cdf-b184-3ca79ae93d5b","activeVersionId":null,"versionCounter":42,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-08T18:18:09.816Z","createdAt":"2026-04-08T18:18:09.816Z","role":"workflow:owner","workflowId":"JMR4sGRDKMv7PSQL","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-09T00:53:01.000Z","createdAt":"2026-04-09T00:27:50.632Z","id":"vnwUnNvrZ4IoUZMk","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"path":"9cf43f46-bfec-45ef-a91b-a4d4d8d12937","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"9c67917f-d415-4020-9979-08d045344a8f","name":"Webhook","webhookId":"9cf43f46-bfec-45ef-a91b-a4d4d8d12937"}],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"66d1a026-4533-40b0-a86a-576b306614f2","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-09T00:27:50.637Z","createdAt":"2026-04-09T00:27:50.637Z","role":"workflow:owner","workflowId":"vnwUnNvrZ4IoUZMk","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-13T16:56:00.000Z","createdAt":"2026-04-09T02:20:05.278Z","id":"Zzj0TZ5CTPW7LG7l","name":"Platinum Client Health Score","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"platinum-hs"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Platinum Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1392,224],"id":"4700865c-589c-4c85-b3b3-ab93a1ef991f"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst contacts = response.contacts || [];\nconst staticData = $getWorkflowStaticData('global');\nstaticData.allScores = [];\nreturn contacts.map(c => ({ json: { id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] } }));"},"name":"Extract Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1168,224],"id":"43fe3295-61b1-4c96-bdfb-c5d5ae586566"},{"parameters":{"options":{}},"name":"Loop Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-944,224],"id":"fff7703d-0a29-4eeb-9dba-a9c6b2c57339"},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"contactId","value":"={{ $json.id }}"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-720,-48],"id":"41aa34ac-e183-4cc8-993b-7a37f2ca02ea"},{"parameters":{"jsCode":"const batchItem = $('Loop Contacts').first().json;\nconst convResponse = $input.first().json;\nconst conversations = convResponse.conversations || [];\nreturn [{\n  json: {\n    contactId: batchItem.id || '',\n    contactName: ((batchItem.firstName || '') + ' ' + (batchItem.lastName || '')).trim() || 'Unknown',\n    contactEmail: batchItem.email || '',\n    contactPhone: batchItem.phone || '',\n    contactTags: batchItem.tags || [],\n    conversationId: conversations.length > 0 ? conversations[0].id : '',\n    hasConversation: conversations.length > 0\n  }\n}];"},"name":"Process Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,-48],"id":"3ef40676-fd38-46a7-ab95-873426e0f031"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"has-conv","leftValue":"={{ $json.hasConversation }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Has Conversation?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-272,-48],"id":"9bd0c20b-cf12-4d48-94b9-484119480858"},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,-144],"id":"cc52dc53-59f4-45c2-aa92-8a2165671159"},{"parameters":{"jsCode":"const contact = $('Process Conversations').first().json;\nconst raw = $input.first().json;\nconst now = new Date();\nconst thirtyDaysAgo = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n\nlet msgArray = [];\nif (raw && raw.messages && raw.messages.messages) {\n  msgArray = raw.messages.messages;\n}\n\nconst realMessages = msgArray.filter(m => m && ['TYPE_SMS', 'TYPE_EMAIL', 'TYPE_CALL'].includes(m.messageType));\n\nconst inboundMsgs = realMessages.filter(m => m.direction === 'inbound').sort((a, b) => new Date(b.dateAdded) - new Date(a.dateAdded));\nconst lastInbound = inboundMsgs.length > 0 ? new Date(inboundMsgs[0].dateAdded) : null;\nconst daysSinceInbound = lastInbound ? Math.floor((now - lastInbound) / (1000 * 60 * 60 * 24)) : -1;\n\nconst outboundMsgs = realMessages.filter(m => m.direction === 'outbound').sort((a, b) => new Date(b.dateAdded) - new Date(a.dateAdded));\nconst lastOutbound = outboundMsgs.length > 0 ? new Date(outboundMsgs[0].dateAdded) : null;\nconst daysSinceOutbound = lastOutbound ? Math.floor((now - lastOutbound) / (1000 * 60 * 60 * 24)) : -1;\n\nconst messagesLast30d = realMessages.filter(m => new Date(m.dateAdded) >= thirtyDaysAgo).length;\n\nconst hasActiveCampaign = (contact.contactTags || []).some(t => t === 'active ad');\n\nlet score = 0;\nconst dsi = daysSinceInbound === -1 ? 999 : daysSinceInbound;\nconst dso = daysSinceOutbound === -1 ? 999 : daysSinceOutbound;\n\nif (dsi <= 7) score += 25; else if (dsi <= 14) score += 20; else if (dsi <= 30) score += 10;\nif (dso <= 3) score += 15; else if (dso <= 7) score += 12; else if (dso <= 14) score += 8;\nif (messagesLast30d >= 10) score += 20; else if (messagesLast30d >= 5) score += 15; else if (messagesLast30d >= 1) score += 10;\nif (hasActiveCampaign) score += 20;\nif (dsi <= 7) score += 20; else if (dsi <= 14) score += 15; else if (dsi <= 30) score += 10;\n\nlet tier = 'Critical';\nif (score >= 80) tier = 'Healthy';\nelse if (score >= 60) tier = 'Monitor';\nelse if (score >= 40) tier = 'At Risk';\n\nlet recommendation = '';\nif (tier === 'Critical') {\n  if (daysSinceInbound === -1) recommendation = 'No conversation history. Call immediately to re-engage.';\n  else if (!hasActiveCampaign) recommendation = 'No active campaign and ' + dsi + ' days since last contact. Schedule a call to discuss next campaign.';\n  else recommendation = dsi + ' days since last message. Check in immediately.';\n} else if (tier === 'At Risk') {\n  if (!hasActiveCampaign) recommendation = 'No active campaign. Reach out to plan next ad campaign.';\n  else recommendation = 'Engagement declining. Send a personal check-in message.';\n} else if (tier === 'Monitor') {\n  recommendation = 'Activity slowing. Keep an eye on engagement this week.';\n} else {\n  recommendation = 'Healthy - no action needed.';\n}\n\nreturn [{ json: {\n  contact_id: contact.contactId,\n  contact_name: contact.contactName,\n  contact_email: contact.contactEmail,\n  contact_phone: contact.contactPhone,\n  health_score: score,\n  health_tier: tier,\n  days_since_inbound: daysSinceInbound,\n  days_since_outbound: daysSinceOutbound,\n  messages_last_30d: messagesLast30d,\n  has_active_campaign: hasActiveCampaign,\n  client_initiated_days: daysSinceInbound,\n  ai_recommendation: recommendation\n} }];\n\n"},"name":"Calculate Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,-144],"id":"7c6327bf-5637-42c8-bacd-c9ae1f095fd3"},{"parameters":{"jsCode":"const contact = $('Process Conversations').first().json;\nreturn [{ json: {\n  contact_id: contact.contactId,\n  contact_name: contact.contactName,\n  contact_email: contact.contactEmail,\n  contact_phone: contact.contactPhone,\n  health_score: 0,\n  health_tier: 'Critical',\n  days_since_inbound: -1,\n  days_since_outbound: -1,\n  messages_last_30d: 0,\n  has_active_campaign: false,\n  client_initiated_days: -1,\n  ai_recommendation: 'No conversation history found. Reach out immediately.'\n} }];"},"name":"Score Zero","type":"n8n-nodes-base.code","typeVersion":2,"position":[176,48],"id":"46986637-d4c7-4701-8e7d-77b360359c2f"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.allScores) staticData.allScores = [];\nstaticData.allScores.push({\n  contact_name: data.contact_name,\n  contact_email: data.contact_email,\n  health_score: data.health_score,\n  health_tier: data.health_tier,\n  days_since_inbound: data.days_since_inbound,\n  messages_last_30d: data.messages_last_30d,\n  has_active_campaign: data.has_active_campaign\n});\nreturn [{ json: data }];"},"name":"Store Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[400,-48],"id":"e8c9ec93-4d3a-4254-9106-3ba18b4605ca"},{"parameters":{"method":"POST","url":"https://xbxwvfnrqrjobalkmbeu.supabase.co/rest/v1/platinum_health_scores","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contact_id: $json.contact_id, contact_name: $json.contact_name, contact_email: $json.contact_email, contact_phone: $json.contact_phone, health_score: $json.health_score, health_tier: $json.health_tier, days_since_inbound: $json.days_since_inbound, days_since_outbound: $json.days_since_outbound, messages_last_30d: $json.messages_last_30d, has_active_campaign: $json.has_active_campaign, client_initiated_days: $json.client_initiated_days, ai_recommendation: $json.ai_recommendation }) }}","options":{}},"name":"Write to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[624,-48],"id":"1a8e16b8-30ec-4ede-8aba-1f3627775c18"},{"parameters":{"jsCode":"return [{ json: { done: true } }];"},"name":"Loop Back","type":"n8n-nodes-base.code","typeVersion":2,"position":[848,128],"id":"979034d9-164e-4dce-84e4-a53578fd77c7"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst allScores = staticData.allScores || [];\nstaticData.allScores = [];\n\nconst critical = allScores.filter(s => s.health_tier === 'Critical');\nconst atRisk = allScores.filter(s => s.health_tier === 'At Risk');\nconst monitor = allScores.filter(s => s.health_tier === 'Monitor');\nconst healthy = allScores.filter(s => s.health_tier === 'Healthy');\n\nreturn [{ json: {\n  totalClients: allScores.length,\n  criticalCount: critical.length,\n  atRiskCount: atRisk.length,\n  monitorCount: monitor.length,\n  healthyCount: healthy.length,\n  criticalClients: critical,\n  atRiskClients: atRisk,\n  monitorClients: monitor,\n  allScores: allScores\n} }];"},"name":"Aggregate Scores","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,224],"id":"bf8294ba-5e83-4595-a190-fc21436490d7"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst needsAttention = JSON.stringify({\n  critical: data.criticalClients,\n  atRisk: data.atRiskClients\n}).substring(0, 8000);\n\nconst prompt = 'You are a client success analyst for GM Baptist Outreach, a church SaaS platform. Analyze these platinum client health scores and provide actionable recommendations.\\n\\nScoring: 0-39 Critical, 40-59 At Risk, 60-79 Monitor, 80-100 Healthy.\\ndays_since_inbound = days since client last messaged us (-1 means never).\\nmessages_last_30d = total messages in last 30 days.\\nhas_active_campaign = whether they have a recent ad campaign.\\n\\nReturn JSON:\\n{\"executive_summary\": \"2-3 sentence overview of overall client health\", \"action_items\": [{\"name\": \"client name\", \"score\": N, \"tier\": \"...\", \"recommendation\": \"specific 1-sentence action to take\"}], \"trends\": \"1 sentence on what the data suggests about client retention\"}\\n\\nTotal clients: ' + data.totalClients + '\\nHealthy: ' + data.healthyCount + '\\nMonitor: ' + data.monitorCount + '\\nAt Risk: ' + data.atRiskCount + '\\nCritical: ' + data.criticalCount + '\\n\\nClients needing attention:\\n' + needsAttention;\n\nreturn [{ json: {\n  totalClients: data.totalClients,\n  criticalCount: data.criticalCount,\n  atRiskCount: data.atRiskCount,\n  monitorCount: data.monitorCount,\n  healthyCount: data.healthyCount,\n  requestBody: {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 2000,\n    messages: [{ role: 'user', content: prompt }]\n  }\n} }];"},"name":"Prepare Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,224],"id":"82a2f3ce-6b98-4e0e-a568-d2d57c698d30"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,224],"id":"fead796d-2e78-4c7e-b794-92718a358545"},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst stats = $('Prepare Summary').first().json;\nlet report = {};\ntry {\n  const text = claudeResponse.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) report = JSON.parse(match[0]);\n} catch (e) {\n  report = { error: 'Failed to parse', raw: claudeResponse.content && claudeResponse.content[0] ? claudeResponse.content[0].text : '' };\n}\n\nreturn [{ json: {\n  generatedAt: new Date().toISOString(),\n  totalClients: stats.totalClients,\n  healthy: stats.healthyCount,\n  monitor: stats.monitorCount,\n  atRisk: stats.atRiskCount,\n  critical: stats.criticalCount,\n  ...report\n} }];"},"name":"Format Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,224],"id":"1f8c69ef-27cf-405a-8374-bbe99026c451"},{"parameters":{"rule":{"interval":[{"daysInterval":7,"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1616,288],"id":"6eb4339d-878c-4733-893b-251e462eccc0","name":"Schedule Trigger"},{"parameters":{"path":"2f3f17fb-f50c-479f-8499-c49384f7d8b8","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1616,96],"id":"4cf7764f-22d1-4c9e-aa06-b6128a52a069","name":"Webhook","webhookId":"2f3f17fb-f50c-479f-8499-c49384f7d8b8","notesInFlow":false,"retryOnFail":true,"waitBetweenTries":5000}],"connections":{"Get Platinum Contacts":{"main":[[{"node":"Extract Contacts","type":"main","index":0}]]},"Extract Contacts":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Loop Contacts":{"main":[[{"node":"Aggregate Scores","type":"main","index":0}],[{"node":"Get Conversations","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Process Conversations","type":"main","index":0}]]},"Process Conversations":{"main":[[{"node":"Has Conversation?","type":"main","index":0}]]},"Has Conversation?":{"main":[[{"node":"Get Messages","type":"main","index":0}],[{"node":"Score Zero","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Calculate Score","type":"main","index":0}]]},"Calculate Score":{"main":[[{"node":"Store Score","type":"main","index":0}]]},"Score Zero":{"main":[[{"node":"Store Score","type":"main","index":0}]]},"Store Score":{"main":[[{"node":"Write to Supabase","type":"main","index":0}]]},"Write to Supabase":{"main":[[{"node":"Loop Back","type":"main","index":0}]]},"Loop Back":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Aggregate Scores":{"main":[[{"node":"Prepare Summary","type":"main","index":0}]]},"Prepare Summary":{"main":[[{"node":"Claude Summary","type":"main","index":0}]]},"Claude Summary":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Platinum Contacts","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Platinum Contacts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"allScores":[]}},"meta":null,"pinData":{},"versionId":"a186beeb-8678-4e3e-80cd-472d477bf4e0","activeVersionId":null,"versionCounter":49,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-04-09T02:20:05.285Z","createdAt":"2026-04-09T02:20:05.285Z","role":"workflow:owner","workflowId":"Zzj0TZ5CTPW7LG7l","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-17T21:06:06.177Z","createdAt":"2026-04-13T16:20:58.971Z","id":"Q50JVKM6oEApRcoJ","name":"Platinum Client Health Score","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":2}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-688,304],"id":"f0fbf37b-12e4-4363-ba9d-0f80bbe34e84"},{"parameters":{"url":"https://services.leadconnectorhq.com/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"limit","value":"100"},{"name":"tag","value":"platinum-hs"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Platinum-HS Contacts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,208],"id":"0084207e-0b7c-4403-8b6d-502c830060c7"},{"parameters":{"jsCode":"const response = $input.first().json;\nconst contacts = response.contacts || [];\nconst staticData = $getWorkflowStaticData('global');\nstaticData.allScores = [];\nreturn contacts.map(c => ({ json: { id: c.id, firstName: c.firstName || '', lastName: c.lastName || '', email: c.email || '', phone: c.phone || '', tags: c.tags || [] } }));"},"name":"Extract Contacts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,208],"id":"5785eec4-f76b-48c3-bfc9-56781e4e0af0"},{"parameters":{"options":{}},"name":"Loop Contacts","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,208],"id":"f479658b-bc3c-4fe3-a53f-a08ae83a700a"},{"parameters":{"jsCode":"const items = $input.all();\nconst ids = items.map(i => i.json.id).filter(Boolean);\nconst idList = ids.map(id => '\"' + id + '\"').join(',');\nconst url = 'https://xbxwvfnrqrjobalkmbeu.supabase.co/rest/v1/platinum_health_scores?contact_id=not.in.(' + idList + ')';\nreturn [{ json: { cleanupUrl: url, currentIdCount: ids.length } }];"},"name":"Prepare Cleanup","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"ee67cd92-fe3e-4582-a1fb-4be65eebe869"},{"parameters":{"method":"DELETE","url":"={{ $json.cleanupUrl }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Prefer","value":"return=minimal"}]},"options":{}},"name":"Cleanup Stale Scores","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"id":"1c51608d-baea-4198-ad32-55f717b2f109"},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"x7nLyDSHiewYRtwYlX0h"},{"name":"contactId","value":"={{ $json.id }}"},{"name":"limit","value":"5"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Conversations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,208],"id":"d4897bc3-6413-43c7-9fc2-79c445151af4"},{"parameters":{"jsCode":"const batchItem = $('Loop Contacts').first().json;\nconst convResponse = $input.first().json;\nconst conversations = convResponse.conversations || [];\nreturn [{\n  json: {\n    contactId: batchItem.id || '',\n    contactName: ((batchItem.firstName || '') + ' ' + (batchItem.lastName || '')).trim() || 'Unknown',\n    contactEmail: batchItem.email || '',\n    contactPhone: batchItem.phone || '',\n    contactTags: batchItem.tags || [],\n    conversationId: conversations.length > 0 ? conversations[0].id : '',\n    hasConversation: conversations.length > 0\n  }\n}];"},"name":"Process Conversations","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,208],"id":"660696fd-c0d4-47f6-89bd-ed0476af2797"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"has-conv","leftValue":"={{ $json.hasConversation }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Has Conversation?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,208],"id":"a97313f2-416f-460e-b935-4e508ad3acca"},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"100"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.GHL_LOCATION_API_KEY }}"},{"name":"Version","value":"2021-07-28"}]},"options":{}},"name":"Get Messages","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,112],"id":"57c4d995-e371-47da-841e-24b59db3f497"},{"parameters":{"jsCode":"const contact = $('Process Conversations').first().json;\nconst raw = $input.first().json;\nconst now = new Date();\nconst thirtyDaysAgo = new Date(now.getTime() - 30 * 24 * 60 * 60 * 1000);\n\nlet msgArray = [];\nif (raw && raw.messages && raw.messages.messages) {\n  msgArray = raw.messages.messages;\n}\n\nconst realMessages = msgArray.filter(m => m && ['TYPE_SMS', 'TYPE_EMAIL', 'TYPE_CALL'].includes(m.messageType));\n\nconst inboundMsgs = realMessages.filter(m => m.direction === 'inbound').sort((a, b) => new Date(b.dateAdded) - new Date(a.dateAdded));\nconst lastInbound = inboundMsgs.length > 0 ? new Date(inboundMsgs[0].dateAdded) : null;\nconst daysSinceInbound = lastInbound ? Math.floor((now - lastInbound) / (1000 * 60 * 60 * 24)) : -1;\n\nconst outboundMsgs = realMessages.filter(m => m.direction === 'outbound').sort((a, b) => new Date(b.dateAdded) - new Date(a.dateAdded));\nconst lastOutbound = outboundMsgs.length > 0 ? new Date(outboundMsgs[0].dateAdded) : null;\nconst daysSinceOutbound = lastOutbound ? Math.floor((now - lastOutbound) / (1000 * 60 * 60 * 24)) : -1;\n\nconst messagesLast30d = realMessages.filter(m => new Date(m.dateAdded) >= thirtyDaysAgo).length;\n\nconst hasActiveCampaign = (contact.contactTags || []).some(t => t === 'active ad');\n\nlet score = 0;\nconst dsi = daysSinceInbound === -1 ? 999 : daysSinceInbound;\nconst dso = daysSinceOutbound === -1 ? 999 : daysSinceOutbound;\n\nif (dsi <= 7) score += 25; else if (dsi <= 14) score += 20; else if (dsi <= 30) score += 10;\nif (dso <= 3) score += 15; else if (dso <= 7) score += 12; else if (dso <= 14) score += 8;\nif (messagesLast30d >= 10) score += 20; else if (messagesLast30d >= 5) score += 15; else if (messagesLast30d >= 1) score += 10;\nif (hasActiveCampaign) score += 20;\nif (dsi <= 7) score += 20; else if (dsi <= 14) score += 15; else if (dsi <= 30) score += 10;\n\nlet tier = 'Critical';\nif (score >= 80) tier = 'Healthy';\nelse if (score >= 60) tier = 'Monitor';\nelse if (score >= 40) tier = 'At Risk';\n\nlet recommendation = '';\nif (tier === 'Critical') {\n  if (daysSinceInbound === -1) recommendation = 'No conversation history. Call immediately to re-engage.';\n  else if (!hasActiveCampaign) recommendation = 'No active campaign and ' + dsi + ' days since last contact. Schedule a call to discuss next campaign.';\n  else recommendation = dsi + ' days since last message. Check in immediately.';\n} else if (tier === 'At Risk') {\n  if (!hasActiveCampaign) recommendation = 'No active campaign. Reach out to plan next ad campaign.';\n  else recommendation = 'Engagement declining. Send a personal check-in message.';\n} else if (tier === 'Monitor') {\n  recommendation = 'Activity slowing. Keep an eye on engagement this week.';\n} else {\n  recommendation = 'Healthy - no action needed.';\n}\n\nreturn [{ json: {\n  contact_id: contact.contactId,\n  contact_name: contact.contactName,\n  contact_email: contact.contactEmail,\n  contact_phone: contact.contactPhone,\n  health_score: score,\n  health_tier: tier,\n  days_since_inbound: daysSinceInbound,\n  days_since_outbound: daysSinceOutbound,\n  messages_last_30d: messagesLast30d,\n  has_active_campaign: hasActiveCampaign,\n  client_initiated_days: daysSinceInbound,\n  ai_recommendation: recommendation\n} }];"},"name":"Calculate Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,112],"id":"be8f9d42-0f29-446c-a255-3d7c1355f63b"},{"parameters":{"jsCode":"const contact = $('Process Conversations').first().json;\nreturn [{ json: {\n  contact_id: contact.contactId,\n  contact_name: contact.contactName,\n  contact_email: contact.contactEmail,\n  contact_phone: contact.contactPhone,\n  health_score: 0,\n  health_tier: 'Critical',\n  days_since_inbound: -1,\n  days_since_outbound: -1,\n  messages_last_30d: 0,\n  has_active_campaign: false,\n  client_initiated_days: -1,\n  ai_recommendation: 'No conversation history found. Reach out immediately.'\n} }];"},"name":"Score Zero","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,352],"id":"996a300a-aa12-44f0-84c0-2c6de2fcbe71"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.allScores) staticData.allScores = [];\nstaticData.allScores.push({\n  contact_name: data.contact_name,\n  contact_email: data.contact_email,\n  health_score: data.health_score,\n  health_tier: data.health_tier,\n  days_since_inbound: data.days_since_inbound,\n  messages_last_30d: data.messages_last_30d,\n  has_active_campaign: data.has_active_campaign\n});\nreturn [{ json: data }];"},"name":"Store Score","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,208],"id":"218b9811-63ac-402d-b720-f27d01882758"},{"parameters":{"method":"POST","url":"https://xbxwvfnrqrjobalkmbeu.supabase.co/rest/v1/platinum_health_scores","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ contact_id: $json.contact_id, contact_name: $json.contact_name, contact_email: $json.contact_email, contact_phone: $json.contact_phone, health_score: $json.health_score, health_tier: $json.health_tier, days_since_inbound: $json.days_since_inbound, days_since_outbound: $json.days_since_outbound, messages_last_30d: $json.messages_last_30d, has_active_campaign: $json.has_active_campaign, client_initiated_days: $json.client_initiated_days, ai_recommendation: $json.ai_recommendation }) }}","options":{}},"name":"Write to Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,208],"id":"44768954-5e11-41ee-a9e0-9d37574e3d13"},{"parameters":{"jsCode":"return [{ json: { done: true } }];"},"name":"Loop Back","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,208],"id":"4fbf55e1-3612-4fcd-8d68-254eac6406a2"},{"parameters":{"jsCode":"const staticData = $getWorkflowStaticData('global');\nconst allScores = staticData.allScores || [];\nstaticData.allScores = [];\n\nconst critical = allScores.filter(s => s.health_tier === 'Critical');\nconst atRisk = allScores.filter(s => s.health_tier === 'At Risk');\nconst monitor = allScores.filter(s => s.health_tier === 'Monitor');\nconst healthy = allScores.filter(s => s.health_tier === 'Healthy');\n\nreturn [{ json: {\n  totalClients: allScores.length,\n  criticalCount: critical.length,\n  atRiskCount: atRisk.length,\n  monitorCount: monitor.length,\n  healthyCount: healthy.length,\n  criticalClients: critical,\n  atRiskClients: atRisk,\n  monitorClients: monitor,\n  allScores: allScores\n} }];"},"name":"Aggregate Scores","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,464],"id":"9f8b5344-00f9-41f8-b942-36d49f155d1f"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst needsAttention = JSON.stringify({\n  critical: data.criticalClients,\n  atRisk: data.atRiskClients\n}).substring(0, 8000);\n\nconst prompt = 'You are a client success analyst for GM Baptist Outreach, a church SaaS platform. Analyze these platinum client health scores and provide actionable recommendations.\\n\\nScoring: 0-39 Critical, 40-59 At Risk, 60-79 Monitor, 80-100 Healthy.\\ndays_since_inbound = days since client last messaged us (-1 means never).\\nmessages_last_30d = total messages in last 30 days.\\nhas_active_campaign = whether they have a recent ad campaign.\\n\\nReturn JSON:\\n{\"executive_summary\": \"2-3 sentence overview of overall client health\", \"action_items\": [{\"name\": \"client name\", \"score\": N, \"tier\": \"...\", \"recommendation\": \"specific 1-sentence action to take\"}], \"trends\": \"1 sentence on what the data suggests about client retention\"}\\n\\nTotal clients: ' + data.totalClients + '\\nHealthy: ' + data.healthyCount + '\\nMonitor: ' + data.monitorCount + '\\nAt Risk: ' + data.atRiskCount + '\\nCritical: ' + data.criticalCount + '\\n\\nClients needing attention:\\n' + needsAttention;\n\nreturn [{ json: {\n  totalClients: data.totalClients,\n  criticalCount: data.criticalCount,\n  atRiskCount: data.atRiskCount,\n  monitorCount: data.monitorCount,\n  healthyCount: data.healthyCount,\n  requestBody: {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 2000,\n    messages: [{ role: 'user', content: prompt }]\n  }\n} }];"},"name":"Prepare Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,464],"id":"227fb13d-dd68-49fa-8f94-58318e731047"},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}","options":{}},"name":"Claude Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,464],"id":"6769f4c3-3ff0-4e65-84e4-d436c50c30f3","retryOnFail":true,"waitBetweenTries":5000,"maxTries":5},{"parameters":{"jsCode":"const claudeResponse = $input.first().json;\nconst stats = $('Prepare Summary').first().json;\nlet report = {};\ntry {\n  const text = claudeResponse.content[0].text;\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (match) report = JSON.parse(match[0]);\n} catch (e) {\n  report = { error: 'Failed to parse', raw: claudeResponse.content && claudeResponse.content[0] ? claudeResponse.content[0].text : '' };\n}\n\nreturn [{ json: {\n  generatedAt: new Date().toISOString(),\n  totalClients: stats.totalClients,\n  healthy: stats.healthyCount,\n  monitor: stats.monitorCount,\n  atRisk: stats.atRiskCount,\n  critical: stats.criticalCount,\n  ...report\n} }];"},"name":"Format Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,464],"id":"77839eba-aef1-404f-8ddb-3e66772ed5b2"},{"parameters":{"httpMethod":"POST","path":"9b80029b-47d1-4849-bab1-3adb1ec21a88","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-704,32],"id":"58f94047-3257-4628-ae85-c132f42dc050","name":"Webhook","webhookId":"9b80029b-47d1-4849-bab1-3adb1ec21a88"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get Platinum-HS Contacts","type":"main","index":0}]]},"Get Platinum-HS Contacts":{"main":[[{"node":"Extract Contacts","type":"main","index":0}]]},"Extract Contacts":{"main":[[{"node":"Loop Contacts","type":"main","index":0},{"node":"Prepare Cleanup","type":"main","index":0}]]},"Prepare Cleanup":{"main":[[{"node":"Cleanup Stale Scores","type":"main","index":0}]]},"Loop Contacts":{"main":[[{"node":"Aggregate Scores","type":"main","index":0}],[{"node":"Get Conversations","type":"main","index":0}]]},"Get Conversations":{"main":[[{"node":"Process Conversations","type":"main","index":0}]]},"Process Conversations":{"main":[[{"node":"Has Conversation?","type":"main","index":0}]]},"Has Conversation?":{"main":[[{"node":"Get Messages","type":"main","index":0}],[{"node":"Score Zero","type":"main","index":0}]]},"Get Messages":{"main":[[{"node":"Calculate Score","type":"main","index":0}]]},"Calculate Score":{"main":[[{"node":"Store Score","type":"main","index":0}]]},"Score Zero":{"main":[[{"node":"Store Score","type":"main","index":0}]]},"Store Score":{"main":[[{"node":"Write to Supabase","type":"main","index":0}]]},"Write to Supabase":{"main":[[{"node":"Loop Back","type":"main","index":0}]]},"Loop Back":{"main":[[{"node":"Loop Contacts","type":"main","index":0}]]},"Aggregate Scores":{"main":[[{"node":"Prepare Summary","type":"main","index":0}]]},"Prepare Summary":{"main":[[{"node":"Claude Summary","type":"main","index":0}]]},"Claude Summary":{"main":[[{"node":"Format Report","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Platinum-HS Contacts","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"global":{"allScores":[]}},"meta":null,"pinData":{},"versionId":"97e72d44-5331-49a5-a6fa-df78a7bf5a0a","activeVersionId":"7554ea4d-342c-4b1e-a740-63a35a92e95f","versionCounter":34,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-04-13T16:20:58.975Z","createdAt":"2026-04-13T16:20:58.975Z","role":"workflow:owner","workflowId":"Q50JVKM6oEApRcoJ","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-17T10:59:23.000Z","createdAt":"2026-04-14T10:35:16.374Z","id":"uwikiRZ4QgMqJa3H","name":"My workflow 2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"e06d5122-abed-4959-936f-4bbf13a2bc33","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"e8c6e261-a934-486c-8036-b9ef430fae6b","name":"Webhook","webhookId":"e06d5122-abed-4959-936f-4bbf13a2bc33"}],"connections":{},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"0a0c5f14-8bce-454c-be97-3d27a7e167ff","activeVersionId":null,"versionCounter":5,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T10:35:16.379Z","createdAt":"2026-04-14T10:35:16.379Z","role":"workflow:owner","workflowId":"uwikiRZ4QgMqJa3H","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":null,"description":null}},{"updatedAt":"2026-04-17T20:54:19.118Z","createdAt":"2026-04-17T18:10:25.037Z","id":"PSeoUSzWnPOvdwnW","name":"GM Baptist - Daily Sub-Account Sync","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":6}]}},"id":"85fe6969-5cdf-485d-bf2a-28e10717539c","name":"Daily 6 AM","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[272,-96]},{"parameters":{"url":"https://gm-baptist-mcp-nytse.ondigitalocean.app/sync","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"0d1e07c3-15fa-478b-b232-d3862905a037","name":"Trigger Sync","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,-96]},{"parameters":{"url":"https://gm-baptist-mcp-nytse.ondigitalocean.app/seed-supabase","options":{"response":{"response":{"responseFormat":"json"}},"timeout":30000}},"id":"c9930258-e18a-462e-870d-fc8a08d26dd8","name":"Seed Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,-96]}],"connections":{"Daily 6 AM":{"main":[[{"node":"Trigger Sync","type":"main","index":0}]]},"Trigger Sync":{"main":[[{"node":"Seed Supabase","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Daily 6 AM":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"77f7e32d-9dff-40f9-b639-1dba591a82f6","activeVersionId":"77f7e32d-9dff-40f9-b639-1dba591a82f6","versionCounter":21,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-17T18:10:25.043Z","createdAt":"2026-04-17T18:10:25.043Z","role":"workflow:owner","workflowId":"PSeoUSzWnPOvdwnW","projectId":"ZYWQQRGg0uVG12WK","project":{"updatedAt":"2026-04-08T15:57:44.066Z","createdAt":"2026-04-08T15:53:18.689Z","id":"ZYWQQRGg0uVG12WK","name":"Chase Kelly <chase@automatesouth.com>","type":"personal","icon":null,"description":null,"creatorId":"ab9a16c0-5d41-4faf-a817-d6ba1d0c2811"}}],"versionMetadata":{"name":"Version 77f7e32d","description":""}}]